:ruby
  data = [
    {name: '公共基础', catalog_link: 'https://workflowy.com/s/UVRAFmns2A'},
    {name: '个人理财', catalog_link: 'https://workflowy.com/s/a2ayj7VBRE'},
    {name: '个人贷款', catalog_link: 'https://workflowy.com/s/ZMRYK06uYU'},
    {name: '公司信贷', catalog_link: 'https://workflowy.com/s/TipMIFynn3'},
    {name: '风险管理', catalog_link: 'https://workflowy.com/s/K99hCvCd2c'},
    {name: '柜员教材', catalog_link: 'https://workflowy.com/s/boYLDxfZaK'},
    {name: '会计分录', catalog_link: nil},
  ]

= react_component 'PageNetIndex', data: data