= react_component 'NetTaggingTool', data: @data, book_name: params[:name]
.net-editor-help
  %h3 打标签
  %p 当原始目录和概念清单都具备时，就可以通过打标签操作把教材的章节与知识概念建立关联了。
  %p 打标签操作要通过专门的工具界面进行。工具会逐个列出每个标签，整理者根据自己的判断从当前列出的章节标题中勾选一个到多个，确认后进行提交。知识概念和章节标题会由工具持续列出，直到所有的知识概念都对应到具体的章节。
  %p 该操作可由多个整理者反复进行多次。进行的次数越多，对于系统计算知识网络结构时，其参考意义越大。