= react_component 'KnetBookTags', data: @data
.net-editor-help
  %h3 概念提取
  %p 整理完原始目录后，开始初步阅读教材。阅读过程中，根据主观印象，把先后出现的知识概念记录下来。
  %p 记录概念时，应记录概念的名称（必须），概念的大致解释（不是必须），概念的相关概念（建议不超过五个，除非十分必要）
  %p 如果先后记录了两个概念，而这两个概念是相关的，相关描述写在任何一边都行，两边都写也无所谓，不比过于纠结。
  %p 这一步工作主要由纯文本编辑器完成。