!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    %title rails engine: operation_flow_editor
    = csrf_meta_tags
    = stylesheet_link_tag 'operation_flow_editor/application', :media => 'screen'
    = javascript_include_tag 'operation_flow_editor/application'

  %body.operation-flow-editor
    .sidebar
      :ruby
        @sidebar_item ||= :actions
        actions_klass = @sidebar_item == :actions ? 'active' : ''
        roles_klass = @sidebar_item == :roles ? 'active' : ''

      %a.item.actions{href: actions_path, class: actions_klass} 动作编辑
      %a.item.roles{href: roles_path, class: roles_klass} 角色

    .main-panel
      = yield