.page-actions
  / = react_component 'OEFlowEditor', {actions: @actions, update_url: update_actions_path}
  = react_component 'OEActionList', {actions: @actions, update_url: update_actions_path}
  .preview
    = react_component 'OEPreviewer', {data: {actions: @actions}}