.page-actions
  = react_component 'OEActionList', {flow: @flow, update_url: update_actions_path, screen_data: @screen_data}
  .preview
    = react_component 'OEPreviewer', {data: {actions: @actions}}