.page-roles
  %h3 执行动作的角色
  .roles
    .role
      %img.avatar{src: 'http://i.teamkn.com/i/UuDexXFr.png'}
      .name 客户
      .desc 来银行办各种业务的客户
    .role
      %img.avatar{src: 'http://i.teamkn.com/i/DtEA0wEP.png'}
      .name 柜员
      .desc 负责操作前端系统的业务员