%h3 内容展示 - 示例课件
:ruby
  data = [
    {number: 131003, name: '贷款（垫款）还款'},
    {number: 651001, name: '柜员基本信息维护+本地授权'},
    {number: 121200, name: '个人活期存款存入'},
    {number: 121300, name: '个人活期存款支取'},
    {number: 122100, name: '定期存款开户'},
    {number: 131002, name: '贷款发放'},
    {number: 132003, name: '贷款利率调整'},
    {number: 136006, name: '贷款交易明细查询'},
    {number: 137025, name: '五万元小额农贷清单'},
    {number: 173130, name: '自助转帐签约/解约'},
    {number: 280020, name: '增资扩股'},
    {number: 280040, name: '股权变更'},
    {number: 000000, name: '股金分红预算（王欢）——无屏幕，有此交易'}
  ]

  # data.each do |d|
  #   if OperationFlowEditor::Flow.where(number: d[:number].to_s).first
  #     d[:is_published] = true
  #   end
  # end

  data = OperationFlowEditor::Flow.all.map do |of|
    {
      number: of.number,
      name: of.name,
      is_published: true
    }
  end

= react_component 'ExampleCourseWares', data: data