body.net {
  // overflow-y: scroll;
}

.page-net-index {
  ul {
    list-style: none;
    li {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: dashed 1px #ddd;
    }
  }
}

$sidebar_w: 100px;
.net-editor-sidebar {
  $w: $sidebar_w;
  position: absolute;
  top:0;bottom:0;left:0;width:$w;
  background-color: #423C38;
  a.item {
    display: block;
    height: $w - 20px;
    line-height: $w - 20px;
    color:white;
    text-decoration: none;
    text-align: center;
    .ibox {
      height:100%;
      margin:0 10px;
      border-bottom: solid 1px rgba(white, 0.4);
    }
    &:hover {
      background-color: rgba(white, 0.1);
    }
    &.active, &.active:hover{
      background-color: none;
      color:#423C38;
      .ibox {
        margin:0 0 0 10px;
        background-color: #fafafa;
        border-bottom: 0 none;
      }
    }
  }
}

$help_w: 320px;
.net-editor-main {
  position: absolute;
  left:$sidebar_w;
  top:0;right:0;bottom:0;

  .net-editor-help {
    position: absolute;
    top:0;bottom:0;right:0;
    width:$help_w;
    padding:20px;
    background-color: #ffffda;
    border-left:solid 1px #eee;
    h3 {
      margin-top: 0;
      margin-bottom: 20px;
    }
  }
}

// 目录树
.page-net-workflowy-xml-show {
  position: absolute;
  top:0;left:0;right:$help_w;bottom:0;
  overflow-y:scroll;
  padding: 20px;

  ul {
    list-style: none;
    padding-left: 24px;

    li {
      .info {
        @include clearfix;
        position: relative;

        .expand-btn {
          position: absolute;
          height:24px;line-height:24px;
          width:24px;
          color: grayscale(#175079);
          border-radius:3px;
          text-align: center;
          text-decoration: none;
          top:3px;left:0;
          transition: all .2s ease-out;
          &:hover {
            background-color: grayscale(#C1E3F7);
          }
        } 
        .name {
          margin-left: 30px;
          line-height:30px;
          float: left;
          max-width:500px;
        }
        a.arrange {
          font-size: 12px;
          margin-left: 6px;
          line-height:24px;
          float: left;
          height:24px;
          background-color: #59B4E5;
          border-radius: 3px;
          color: white;
          width: 48px;
          text-align: center;
          margin-top: 3px;
          text-decoration: none;
        }    
      }


      > ul {display:none;}
      > .info .expand-btn {
        i.fa-minus {display:none;}
        i.fa-plus {display:inline;}
      }
      &.expand {
        > ul {display:block;}
        > .info .expand-btn {
          i.fa-minus {display:inline;}
          i.fa-plus {display:none;}
        }
      }
    }

  }
}

// 概念集合
.page-net-tags {
  position: absolute;
  top:0;left:0;right:$help_w;bottom:0;
  overflow-y:scroll;
  padding: 20px;

  .tag {
    max-width: 500px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: dashed 1px #ddd;
    .name {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 10px;
    }
    .desc {
      margin-bottom: 10px;
    }
    .linked-tags {
      span.l-tag {
        margin-right: 10px;
        font-size: 13px;
        color: #888;
      }
    }
  }
}

.net-tagging-tool {
  position: absolute;
  top:0;left:0;right:$help_w;bottom:0;
  .net-tagging-store-list {
    position: absolute;
    top:0;left:20px;bottom:0;width:200px;
    // border-right:solid 1px #ddd;
    // border-left:solid 1px #ddd;
    background-color: lighten(#423C38, 40%);
    box-shadow:inset -3px 0 4px rgba(black, 0.2);

    h3 {
      text-align: center;
      margin:0;
      height:50px;line-height:50px;
      font-size: 16px;
      font-weight: normal;
      text-align: center;
      border-bottom: solid 2px #ccc;
      box-sizing:content-box;padding-right:32px;
      background-color: rgba(white, 0.6);
    }
    .add-btn {
      position: absolute;
      height:32px;width:32px;
      line-height:32px;
      text-align:center;
      border-radius:4px;
      top:9px;right:9px;bottom:9px;
      background-color: #4CAF50;
      color: white;
      font-size: 18px;
      &:hover {
        opacity: 0.8;
      }
    }
    .store-form {
      z-index:100;
      position: absolute;
      left: 156px;top:62px;
      border: solid 1px #ccc;
      background-color: white;
      border-radius: 5px;
      padding: 15px;
      width:300px;
      box-shadow:0px 0px 14px rgba(black, 0.3);
      &:before {
        content: "";
        position: absolute;
        top:-16px;left:9px;
        border:solid 8px transparent;
        border-bottom:solid 8px white;
      }
      .ops {
        margin-top: 10px;
        padding-top:10px;
        border-top:solid 1px #ddd;
        .btn {width:80px;margin-right: 10px;}
      }
    }
    .item {
      padding: 10px;
      background-color: rgba(white, 0.6);
      margin: 10px 0px 10px 10px;
      &.active {
        background-color: #FFF !important;
      }

      .creator {
        font-weight: bold;
        margin-bottom: 5px;
      }
      .created-at {
        font-size: 12px;
        color: #888;
      }
      &:hover {
        cursor:pointer;
        background-color: #C1E3F7;
      }
    }
  }
}


/////////////////////////

.page-net-arrange {
  position: absolute;
  top:0;bottom:0;left:0;right:0;
  margin:auto;
  width:800px;
  border-left:solid 1px #ddd;
  border-right:solid 1px #ddd;
  background-color: #FFF;
}

.net-tagging-wizard {
  position: absolute;
  left:220px;top:0;bottom:0;right:0;
  background-color: #FFF;

  &.loading {
    padding: 20px 40px;
    i {font-size: 50px;margin-bottom: 20px;}
  }

  &.blank {background-color: #f7f7f7;}
  &.blank .blank-desc {
    padding: 20px 40px;
    font-size: 16px;

    &:after {
      content: "";
      width:136px;height:128px;
      // background:url(http://i.teamkn.com/i/tfqoh6K0.png);
      position: absolute;
      top:100px;
      left:40px;
    }
  }

  .buckets {
    position: absolute;
    top:0;right:0;bottom:0;
    width:50%;
    
    .current {
      height:50px;line-height:50px;
      box-sizing:content-box;
      border-bottom:solid 2px #ddd;
      font-weight: bold;
      padding:0 15px;
      font-size: 16px;
    }
    .bucket {
      line-height: 24px;
      padding:10px 15px;
      border-bottom:dashed 1px #ddd;
      cursor: default;
      position: relative;
      &:hover, &.selected{
        background-color: #59B4E5;
        color: white;
      }
      i.i0 {margin-right: 5px;}
      i.i1 {
        position: absolute;
        width:45px;height:45px;line-height:45px;
        text-align:center;
        top:0;right:0;bottom:0;
        font-size: 27px;
        transform: scale(0.1);
        opacity: 0;
        transition: all .2s ease-out;
      }
      &.selected i.i1 {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  .taginfo {
    position: absolute;
    top:0;left:0;bottom:0;
    width:50%;
    border-right:solid 1px #ddd;
    box-shadow:inset -3px 0 4px rgba(black, 0.1);

    .book-name {
      box-sizing:content-box;
      height:50px;line-height:50px;
      border-bottom:solid 2px #ddd;
      padding:0 15px;
      font-size: 16px;
      font-weight: bold;
    }

    .help {
      // background-color: #ffffda;
      margin: 15px;
      padding: 0 0 15px 0;
      color:rgba(black, 0.6);
      border-bottom: dashed 1px #ccc;
    }

    .tagtext {
      padding: 0 15px 15px;
      h3.tagname {
        margin-top: 0;
        margin-bottom: 15px;
        i {margin-right: 10px;color:#999;}
      }
      .tagdesc {}
    }

    .stat {
      position: absolute;
      bottom:120px;
      left:10px;right:10px;
      .text {
        margin-bottom: 10px;
        .number {
          color: #FF4400;
          font-weight: bold;
          margin-left: 10px;margin-right: 10px;
        }
      }
      .progress {
        margin-bottom: 0;
      }
    }
    a.submit {
      position: absolute;
      bottom:10px;left:10px;right:10px;
      height:100px;line-height:100px;
      font-size: 60px;
      text-align: center;
      color:white;
      background-color: #5CB85C;
      border-radius:10px;
      text-decoration: none;
      &.disabled {
        pointer-events:none;
        background-color: grayscale(#5CB85C);
        opacity: 0.6;
      }
      i {margin-right: 15px;}

      .submiting-text {display:none;}
      &.submiting {
        pointer-events:none;
        background-color: grayscale(#5CB85C);
        opacity: 0.6;
        .submiting-text {display:block;}
        .common-text {display:none;}
      }
    }
  }
}