.page-screen-parse {
  padding: 30px 0;
  font-family: consolas, 微软雅黑;

  .jyld-parse {
    margin-bottom: 20px;
    .zjy {
      border-bottom: dashed 1px #ddd;
      height: 24px; line-height: 24px;
      .order {
        float: left;
        background-color: lighten(#2A70E8, 40%);
        color: darken(#2A70E8, 20%);
        width: 24px;text-align: center;
        margin-right: 10px;
      }
    }
  }

  .zjylist {
    .zjy {
      padding-bottom: 5px;
      border-bottom: dashed 1px #ddd;
      margin-bottom: 5px;
      .screens {
        @include clearfix;
        .screen {
          float: left;
          width: 64px;height:48px;line-height:48px;
          background-color: #f1f1f1;
          margin-right: 5px;
          border-radius: 3px;
          text-align: center;
          position: relative;

          &.exist {
            background-color: #555;
            color:white;
            cursor: pointer;
          }

          // &:nth-child(1):before {content:"输入1";}
        }
      }
    }
  }
}

.screen-render {
  border:solid 1px #ddd;
  padding:30px;
  position: relative;
  margin-top: 50px;margin-bottom: 50px;
  height: 600px;

  .screen-zd {
    height:40px;line-height:40px;
    position: absolute;

    &.czfs-hide {display: none;}

    label {
      margin-right: 10px;
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 0;
    }
    input[type=text] {
      background-color: #f0f0f0;
      border:0 none;
      border-radius:3px;
      height:30px;line-height:30px;
    }
    select {
      background-color: #f0f0f0;
      border:0 none;
      border-radius:3px;
      height:30px;line-height:30px;
      box-sizing:content-box;
    }
  }

}