.example-course-wares {
  margin:0 -15px;
  margin-bottom: 50px;
  @include clearfix;

  .course-ware {
    width: percentage(1/3);
    float: left;
    padding: 15px;

    .cbox {
      position: relative;
      border: solid 1px #ddd;
      height: 80px + 30px + 60px;
      padding: 15px;
      border-radius: 5px;
      overflow: hidden;
      &:hover {
        cursor: pointer;
        border-color: #1C758A;
        box-shadow:0 1px 3px rgba(black, 0.3);
      }

      .icon {
        width:80px;
        height:80px;
        border-radius:100%;
        border:solid 5px #ddd;
        position: absolute;
        top:15px;left:15px;
        .ic {
          width:60px;height:60px;
          background-color: #45BCD8;
          border-radius:100%;
          position: absolute;
          top:5px;left:5px;
          text-align: center;
          i {
            color:white;
            line-height: 60px;
            font-size: 35px;
            &.fa-dollar {
              color: #C1E3F7;
              font-size: 25px;
            }
          }
        }
      }


      .number {
        color: #aaa;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 80px + 15px;
        font-family: arial;
      }
      .name {
        font-size: 16px;
        margin-left: 80px + 15px;
        margin-bottom: 10px;
      }
      .prog {
        margin-left: 80px + 15px;
        color: #46a8bf;
        font-family: arial, '微软雅黑';
      }
      .is-published {
        position: absolute;
        top:3px;right:3px;
        height:20px;line-height:20px;
        background-color: #81D364;
        border-radius: 3px;
        color: white;
        padding:0 8px;
      }

      .btnc {
        position: absolute;
        left:0;right:0;bottom:0;
        height:60px;
        background-color: #F7F7F7;
        a.btn {
          display: block;
          margin:13px 60px;
          border-radius:100px;
          &:hover {
            background-color: #D6E3E7;
          }
        }
      }
    }
  }
}

body.course-ware {
  background: url(http://i.teamkn.com/@/i/bro6GxK8.png);
  background-color: #ddd;
  overflow:hidden;
}

@keyframes focusarrow {
  0% { transform: translate(0, 0);opacity:1; }
  50% { transform: translate(-10px, 0);opacity:0.5; }
  100% { transform: translate(0, 0);opacity:1; }
}

.teller-course-ware {
  position: absolute;
  top:0;left:0;right:0;bottom:0;

  $sidebar-width: 290px;

  .sidebar {
    position: absolute;
    width: $sidebar-width;
    top:0;bottom:0;left:0;
    background-color: #F7F7F7;
    border-left:solid 1px #ddd;
    border-right:solid 1px #ccc;

    .item {
      min-height: 51px;
      border-top: solid 1px #fff;
      border-bottom: solid 1px #ddd;
      &:first-child {border-top: 0 none;}
      padding: 15px;
      line-height: 20px;

      &.base {
        .number {
          font-family: 'times new roman';
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 10px;
        }
      }

      &.roles, &.complex {
        @include clearfix;
        label {float: left;margin:0;line-height:30px;}
        .role {
          position: relative;
          height: 30px;line-height:30px;
          margin-left: 20px;
          float:left;
          &:last-child {margin-bottom: 0;}
          &.teller {
            &:before {
              content: "";
              display: block;
              width: 30px;height:30px;
              border-radius:100px;
              background: url(http://i.teamkn.com/i/DtEA0wEP.png);
              background-size: cover;
              float: left;
              margin-right: 10px;
              border: solid 1px #ddd;
            }
          }
          &.customer {
            &:before {
              content: "";
              display: block;
              width: 30px;height:30px;
              border-radius:100px;
              background: url(http://i.teamkn.com/i/UuDexXFr.png);
              background-size: cover;
              float: left;
              margin-right: 10px;
              border: solid 1px #ddd;
            }
          }
        }
        .c {
          margin-left: 80px;
          width: 30px;height:30px;
          color: white;
          line-height: 30px;
          text-align: center;
          border-radius:100px;
          &.low {
            background-color: #44B2F5;
          }
        }
      }
      &.desc {
        // max-height: 400px;
        overflow-y:auto;
        position: absolute;
        left:0;right:0;top:81px + 62px + 62px;
        bottom:200px;
        label {display: block;margin-bottom:10px;}
        pre {
          border:0 none;
          padding:0;
          margin:0;
          font-family: arial, '微软雅黑';
          background:none;
        }
      }

      &.linked-flows {
        position: absolute;
        left:0;right:0;bottom:0;height:200px;
        overflow-y:auto;

        .flow {
          // background-color: #FFF;
          height:24px;line-height:24px;
          padding: 0 15px;
          display: block;
          margin:0 -15px;
          .number {
            margin-right: 10px;
            font-family: 'times new roman';
            font-weight: bold;
          }
        }
      }

      &.qn {
        display: none;
        padding: 0;
        position: absolute;
        bottom: 100px;
        left:0;right:0;
        height:50px;
        background-color: #f7f7f7;
        .ibtn {
          float:left;
          width:50%;
          height:50px;
          border-right: solid 1px #ddd;
          &:last-child {border-right: 0 none;}
          text-align: center;
          line-height: 50px;
          font-size: 25px;
          color: #333;
          &:hover {
            background-color: #44B2F5;
            color: white;
          }
        }
      }
      &.play {
        display: none;
        position: absolute;
        bottom: 0;left:0;right:0;
        height: 100px;
        padding: 0;
        background-color: #f7f7f7;

        a.play-btn, a.pause-btn {
          position: absolute;
          top:0;left:0;right:0;bottom:0;
          line-height: 100px;
          text-align: center;
          font-size: 50px;
          color: #333;
          &:hover {
            background-color: #44B2F5;
            color: white;
          }
        }

        a.pause-btn {display:none;}
      }
    }
  }

  .paper {
    position: absolute;
    top:0;bottom:0;left:$sidebar-width;right:0;

    .flow-course-ware {
      position: absolute;
      top:0;left:0;right:0;bottom:0;
      $header-height: 60px;
      .header {
        border-bottom: solid 1px #ccc;
        background-color: #f7f7f7;
        @include clearfix;
        .role {
          height:$header-height;line-height:$header-height;
          float: left;
          width: 240px;
          text-align: center;
          border-left:solid 1px white;
          border-right:solid 1px #ddd;
        }
      }

      .nodes {
        position: absolute;
        top: $header-height + 1px;
        left:0;right:0;bottom:0;
        overflow-y:scroll;
        overflow-x:hidden;

        .nbox {
          float: left;
          canvas.ncanvas {
            position: absolute;
            top:0;left:0;
          }
        }

        .role-actions {
          position: relative;
          float: left;
          .action-node {
            // -webkit-filter: blur(10px);
            transition: transform .2s ease-out;
            cursor: pointer;
            &:hover {
              // transform: translate(0, -3px);
              transform: rotate(-5deg);
            }

            &.focus {
              &:after {
                // content: "\f063";
                content: "\f061";
                font-family: FontAwesome;
                position: absolute;
                top:0;left:-20px;bottom:0;
                font-size: 40px;
                // color: #F18D05;
                color:#FF4400;
                height:40px;line-height:40px;
                margin:auto;
                animation: focusarrow 1s  infinite;
              }
            }

            position: absolute;
            background-color: #FFF;
            box-shadow: 1px 1px 5px rgba(black, 0.2);
            .box {
              $pd: 5px;
              position: absolute;
              top:$pd;left:$pd;right:$pd;bottom:$pd;
              padding: 10px;
              overflow: hidden;
              font-size: 13px;
              line-height: 20px;
            }
            
            &[data-role='客户'] .box{
              background-color: lighten(#EDFDB5, 5%);
            }
            &[data-role='柜员'] .box{
              background-color: lighten(#D7F1FD, 5%);
            }

            .box {
              .name {
                height: 40px;
                line-height: 20px;
                margin-right: 40px;
                overflow:hidden;
              }
              .has-screen {
                position: absolute;
                top:0;right:0;bottom:0;width:50px;
                text-align: center;
                line-height: 60px;
                font-size: 24px;
                .count {display:none;}
              }
            }
          }
        }
      }

      .teaching-dialog {
        position: fixed;
        top:71px;right:30px;
        width:480px;
        height: 360px;
        background-color: #FFF;
        // background-color: #F7F7F7;
        box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
        &.has-screen {
          height: 360px + 91px;
        }

        .action-name {
          font-size: 16px;
          height:50px;line-height:50px;
          padding:0 15px;
          border-bottom:solid 1px #ddd;
          background-color: #f7f7f7;
        }

        .nav {
          background-color: #f7f7f7;
          position: absolute;
          left:0;right:0;bottom:0;
          a {
            width:50%;
            float:left;
            border-top:solid 1px #ddd;
            height:50px;line-height:50px;
            text-align: center;
            font-size: 16px;
            color: #333;
            text-decoration: none;
            i {
              margin:0 10px;
            }
            &:first-child {
              border-right:solid 1px #ddd;
            }
            &:last-child {
              border-left:solid 1px #fff;
            }
            &:hover {
              background-color: #ffffda;
              text-decoration: none;
            }
          }
        }

        .has-screen {
          padding: 15px;
          // background-color: #ffffda;
          border-bottom:dashed 1px #ddd;
          .desc {margin-bottom: 10px;}
          i {margin-right: 10px;}
        }

        .action-desc {
          padding: 15px;
          border:0 none;
          background: none;
          margin:0;
          font-size: 14px;
          height:260px;
          overflow-y:auto;
          overflow-x:hidden;
          font-family: arial, '微软雅黑';
        }
      }

      .screen-shower {
        .screen-desc {
          border:0 none;
          background: none;
          margin:0;
          font-size: 14px;
          float: left;
          width: 220px;
          padding:0;
          padding-right: 15px;
          font-family: arial, '微软雅黑';
          max-height:480px;
          overflow-y:auto;
          overflow-x:hidden;
        }
        .ofc-teller-screen {
          margin-left: 220px;
        }

        .modal-header {
          display: none;
        }
        .modal-content {
          border-radius: 0;
        }
        .modal-footer {
          .btn.btn-primary{display:none;}
        }
        .modal-body {
          @include clearfix;
        }
      }
    }
  }
}